
@model User
<div class="container col-md-12">
    <div class="row shadow p-3 mb-5 bg-body-tertiary rounded border">
        <div class="col d-flex flex-column align-items-center mt-4 mb-4">
            @{
                if (Model != null && Model.Avatar != null && Model.Avatar.Length > 0)
                {
                    byte[] imageBytes = Model.Avatar;
                    string imageBase64 = Convert.ToBase64String(imageBytes);
                    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);

                    <img src="@imageSrc" width="300px" height="300px" class="rounded-circle overflow-hidden border shadow" />

                }
                else
                {
                    <img src="img/defaultProfile.png" width="300px" height="300px" class="rounded-circle overflow-hidden border shadow" />
                }

                int allTask = ViewBag.TaskCount;
                int finishedTask = ViewBag.FinishedTasks;
                int unfinTask = allTask - finishedTask;
                double ratio = (double)finishedTask / allTask * 100;
                if (allTask == 0)
                {
                    ratio = 0;
                }
                int ratioProc = (int)Math.Round(ratio);            
            }

            <h2>Groups: @ViewBag.GroupsCount</h2>
            <h2>Tasks: @allTask</h2>
            <h2>Unfinished Tasks: @unfinTask</h2>

            <div class="progress mt-3" style="width: 400px; height: 20px">
                <div class="progress-bar bg-success" role="progressbar" style="width: @ratioProc%;" aria-valuenow="@ratioProc" aria-valuemin="0" aria-valuemax="100">@ratioProc%</div>
            </div>

        </div>
        <div class="col align-content-center border-start ps-5">
            <h2 class="mt-4">Login: @Model.Login</h2>
            <h2 class="mt-4">First Name: @Model.FirstName</h2>
            <h2 class="mt-4">Last Name: @Model.LastName</h2>
            <h2 class="mt-4">Email: @Model.Email</h2>
        </div>
    </div>

</div>
