@model List<TaskManager.Models.TaskModel>
@{
    var idValue = ViewContext.RouteData.Values["group"];
    ViewData["Title"] = "Tasks Page";
}

<div class="container col-md-12">
    <div class="row shadow p-3 mb-5 bg-body-tertiary rounded border justify-content-evenly">
        <a asp-action="AddTask" asp-route-group="@idValue" class="btn btn-primary mb-2">Add New Task</a>
        @foreach (var item in Model)
        {
            string cardColor = "black";
            if(item.DeadLine.Date < DateTime.UtcNow.Date && item.CompletedOn != 100)
            {
                cardColor = "red";
            }
            if(item.CompletedOn == 100)
            {
                cardColor = "Green";
            }

            <div class="card border rounded shadow" style="width: 18rem;">
                @{
                    if (item != null && item.Avatar != null && item.Avatar.Length > 0)
                    {
                        byte[] imageBytes = item.Avatar;
                        string imageBase64 = Convert.ToBase64String(imageBytes);
                        string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="200px" height="170px" class="card-img-top pt-2" />
                    }
                    else
                    {
                        <img src="~/img/defaultImage.jpg" width="200px" height="170px" class="card-img-top pt-2" alt="...">
                    }
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <ul class="list-group list-group-flush border-bottom border-top">
                        <li class="list-group-item ps-0">
                            <span>Task Completed At:</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: @item.CompletedOn%" role="progressbar" aria-label="Basic example" aria-valuenow="@item.CompletedOn" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="list-group-item ps-0" style="color: @cardColor">
                            <span>Deadline: @item.DeadLine.Day/@item.DeadLine.Month/@item.DeadLine.Year</span>
                        </li>
                    </ul>

                    <a asp-action="DeleteTask" asp-route-taskId="@item.Id" class="btn btn-danger mt-2">Delete</a>
                    <a asp-action="InfoTask" asp-route-taskId="@item.Id" class="btn btn-dark mt-2">Info</a>
                </div>
            </div>

        }
    </div>
</div>

